/* 컬러 팔레트 전체 목록 */

:root {
  /* grayscale */
  --textDefault: #222222;
  --windowDim: rgba(0, 0, 0, 0.6);
  --blueWhite-60: rgba(226, 227, 230, 0.6);
  --blueWhite: #e2e3e6;
  --deepWhite: #ededef;
  --deepWhite-30: rgba(237, 237, 239, 0.3);
  --gray: #cacaca;
  --gray-deep: #b3b3b3;
  --warmgray: #696969;
  /* color */
  --emerald: #38d66d;
  --emerald-deep: #1cb44f;
  --light-emerald: #d1ebd4;
  --main: rgb(77, 133, 255);
  --main-hover: rgb(50, 115, 255);
  --main-active: rgb(30, 91, 224);
  --light-red: rgb(255, 202, 202);
  --medium-red: rgb(255, 111, 111);
  --deep-red: rgb(241, 80, 80);
}
