@import "reset.css";
/* component */
@import "/resource/components/date-weather.css";
@import "/resource/components/input.css";
@import "/resource/components/background.css";

* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, "Helvetica Neue", sans-serif;
  width: 100vw;
  height: 100vh;

  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
}
