@import "reset.css";
@import "color-palette.css";
/* component */
@import "/resource/components/date-weather.css";
@import "/resource/components/input.css";
@import "/resource/components/background.css";
@import "/resource/components/current-username.css";
@import "/resource/components/to-do-list.css";

* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, "Helvetica Neue", sans-serif;
  width: 100vw;
  height: 100vh;
  color: white;
  background-color: black;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

.none {
  display: none;
}

.hidden {
  /* 이미 숨겨진 상태 */
  visibility: hidden;
}
