@import "keyframe.css";

.current-username-container {
  width: calc(100vw - 50%);
  min-width: 460px;
  max-width: 600px;
  margin-top: 110px;
  margin-bottom: 1.625rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  opacity: 0;
}

.current-username-left {
  display: flex;
  align-items: center;
}

.current-username {
  padding: 10px 20px;
  background-color: rgba(255, 255, 255, 0.09);
  border-radius: 1.59375rem;
  margin-right: 1rem;
  cursor: pointer;
}

.print-hello {
  opacity: 0;
}
