@import "/css/keyframe.css";

.current-date-weather {
  width: calc(100vw - 50%);
  min-width: 460px;
  max-width: 600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* 월 일 요일 */
.current-date,
.current-day {
  font-weight: 100;
  font-size: 3rem;
  margin-bottom: 16px;
}

.month,
.date,
.day {
  font-weight: 400;
}

/* 위치 시간 날씨 */

.current-weather {
  font-weight: 100;
  font-size: 1.2rem;
  height: 1.5rem;
  margin-bottom: 0.2rem;
  overflow: hidden;
}

.weather-overflow div {
  margin-left: 16px;
}

.weather-overflow {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* 애니메이션 기본값 위치 처리 */
  position: relative;
  top: 1.5rem;
}

.current-clock {
  font-size: 5.2rem;
  font-weight: 700;
  letter-spacing: 3px;
  padding-top: 8px;
  display: flex;
  justify-content: flex-end;
}
/* 블링크 애니메이션 처리 */
.current-clock__colon {
  animation: blink 1s ease-in-out infinite alternate;
}

.current-hour,
.current-clock__colon,
.current-minutes {
  display: flex;
  align-items: center;
}

/* 날씨 정보 애니메이션 기본값 처리 */
.current-location {
  position: relative;
  bottom: -50;
}
