@import "keyframe.css";

.todo-list {
  width: calc(100vw - 50%);
  min-width: 460px;
  max-width: 600px;
  height: calc(100vh - 2.25rem - 5rem - 11.25rem - 3.4rem - 3rem);
  margin-top: 36px;
  display: flex;
  justify-content: center;
  color: var(--textDefault);
  overflow: hidden;
}

.todo-list-backlog,
.todo-list-done {
  width: 50%;
  font-size: 1.25rem;
  overflow: scroll;
}
/* scroll-bar 미표시 */
.todo-list-backlog::-webkit-scrollbar,
.todo-list-done::-webkit-scrollbar {
  display: none;
}

/* 여백 */
.todo-list-fake-empty {
  width: 2.25rem;
}

.backlog-item,
.done-item {
  position: relative;
  width: 100%;
  border-radius: 0.625rem;
  margin-bottom: 0.75rem;
  padding: 1.875rem;
  background-color: white;
  word-break: break-all;
  line-height: normal;
}

/* 애니메이션을 위한 기초값 설정 */
.backlog-item {
  opacity: 0;
}

.done-item {
  background-image: url(/js-challenge-output/images/img/icon-checked.svg);

  background-size: 5.5rem;
  background-repeat: no-repeat;
  background-position-x: 108%;
  background-position-y: calc(100% + 1.6vh);
  background-color: var(--light-emerald);

  /* text style */
  text-decoration: line-through;
}

.btn-del,
.btn-done {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-del {
  width: 1.125rem;
  height: 1.125rem;
  background-color: var(--deepWhite);
  border-radius: 0.625rem 0 0.625rem 0;
  top: 0;
  left: 0;
}

.btn-del svg {
  width: 0.45rem;
  height: 0.45rem;
}

.btn-done {
  width: 1.5rem;
  height: 1.5rem;
  background-color: #ace6bf;
  border-radius: 50%;
  right: 0.625rem;
}

.btn-del:hover {
  background-color: var(--gray);
  cursor: pointer;
}

.btn-del:active {
  background-color: var(--gray-deep);
}

.btn-done:hover {
  background-color: var(--emerald);
  cursor: pointer;
}
.btn-done:active {
  background-color: var(--emerald-deep);
}
