.background-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  position: absolute;
}

@keyframes fadeInBG {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.background-img {
  width: 100vw;
  height: 100vh;
  position: absolute;
  object-fit: cover;
  animation: fadeInBG 1s ease-in;
  z-index: -1;
}

.background-gradation {
  width: 100vw;
  height: 40vh;
  opacity: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0), #000000);
}

.bottom {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #000000);
}
