.current-date-weather {
  width: 630px;
  height: 180px;
  margin-top: 181px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* 월 일 요일 */
.current-date,
.current-day {
  font-weight: 100;
  font-size: 65px;
  margin-bottom: 16px;
}

.month,
.date,
.day {
  font-weight: 400;
}

/* 위치 시간 날씨 */

.current-weather {
  font-weight: 100;
  font-size: 24px;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 18px;
}

.current-weather span {
  margin-left: 16px;
}

.current-clock {
  height: 120px;
  font-size: 108px;
  font-weight: 700;
  letter-spacing: 3px;
  padding-top: 6px;
}
