.input-userName {
  width: calc(100% - 40%);
  min-width: 460px;
  max-width: 600px;
  height: 3.4rem;
  border-radius: 10px;
  background-color: white;
  margin-top: 3rem;
  padding-left: 30px;
  font-size: 1.1rem;
  color: var(--textDefault);
}

.input-userName::placeholder {
  color: var(--textDefault);
}

.input-todoList {
  background-color: rgba(255, 255, 255, 0.6);
}
