.test {
  word-break: normal;
}

.todo-list {
  width: calc(100vw - 50%);
  min-width: 460px;
  max-width: 600px;
  display: flex;
  justify-content: center;
  margin-top: 36px;
  color: var(--textDefault);
}

.todo-list-backlog,
.todo-list-done {
  width: 50%;
  font-size: 1.25rem;
}

/* 여백 */
.todo-list-fake-empty {
  width: 2.25rem;
}

.backlog-item,
.done-item {
  position: relative;
  width: 100%;
  word-break: break-all;
  padding: 1.875rem;
  background-color: white;
  border-radius: 0.625rem;
  margin-bottom: 0.75rem;
}

.done-item {
  background-image: url(/images/svg/icon-checked.svg);
  background-size: 6.25rem;
  background-repeat: no-repeat;
  background-position-x: 110%;
  background-position-y: -10%; back;
  background-color: var(--gray);
  /* text style */
  text-decoration: line-through;
}

.btn-del,
.btn-done{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-del{
  width: 18px;
  height: 18px;
  background-color: var(--blueWhite);
  border-radius: 0.625rem 0 0.625rem 0 ;
  top: 0;
  left: 0;
}

.btn-del svg{
  width: .45rem;
  height: .45rem;
}

.btn-done{
  width: 1.5rem;
  height: 1.5rem;
  background-color: var(--emerald);
  border-radius: 50%;
  right: .625rem;
}

.btn-del:hover {
  background-color : var(--gray);
  cursor: pointer;
}

.btn-del:hover .icon-del{
  fill : var(--warmgray);
}

.btn-done:hover{
  background-color: var(--emerald-deep);
  cursor: pointer;
}

.btn-del:active{
  background-color: var(--gray-deep);
}

.btn-done:active{
  background-color: #119c3f;
}